@page
@model Devystri.Pages.AboutModel
@{
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/about.css" />
}
<section id="about-devystri">
    <div class="about-part">
        <h2 class="about-title">Sécurité</h2>
        <p class="about-description">La sécurité est un très grand problème de notre siècle avec la révolution numérique dans laquelle nous nous situons. Notre objectif est de nous investir le plus possible dans la sécurité et surtout la cybersécurité. La cybersécurité est la clé de la confidentialité est du pseudonymat, appelé anonymat dans le langage courant, c’est donc essentiel pour garantir une confidentialité à laquelle nous tenons tant au sein de Devystri.</p>
    </div>
    <div class="about-part">
        <h2 class="about-title">Innovation</h2>
        <p class="about-description">Notre état d'esprit fait que l'innovation au sein de Devystri est une priorité. Nous ne voulons pas ne faire que passer sur Terre, et c'est pour cela que l'innovation, autant sur le plan social que technologique, est essentielle pour nous. L'innovation, pour nous, c'est d’imaginer des solutions qui permettraient d'améliorer le quotidien de chacun d'entre nous. Que ce soit dans le médical ou dans l'écologie, notre but est d'innover afin de laisser notre trace positivement dans ce monde.</p>
    </div>
    <div class="about-part">
        <h2 class="about-title">Automatisation</h2>
        <p class="about-description">L’automatisation, c’est faciliter la vie de tout le monde, certains peuvent penser que l’automatisation peut permettre de contrôler les gens. C’est pour cela que la sécurité passe avant tout, selon nous. Notre but est donc de développer le plus possible l’automatisation et de l’apporter au grand public, c’est à dire, apporter une automatisation facile à comprendre pour les plus novices d’entre nous, tout en laissant à chacun le choix de modifier l’automatisation à son envie. L’automatisation c’est aussi pouvoir mettre fin aux métiers dit pénibles. C’est pour cela que, chez Devystri, nous considérons l’automatisation comme étant le futur.</p>
    </div>
</section>
<section id="team">
    <h2 class="page-title">Notre équipe</h2>
    <div id="team-list">
        <figure>
            <img draggable="false"  alt="Gromard Alexys picture" src="~/Assets/Images/about/Gromard-Alexys.png" />
            <h1 class="profile-name">Gromard Alexys</h1>
            <figcaption>Développeur web front et designer</figcaption>
        </figure>
        <figure>
            <img draggable="false"  alt="Timoz Dimitri picture" src="~/Assets/Images/about/no-picture.png" />
            <h1 class="profile-name">Timoz Dimitri</h1>
            <figcaption>Développeur</figcaption>
        </figure>
        <figure>
            <img draggable="false"  alt="Duhamel Egone picture" src="~/Assets/Images/about/no-picture.png" />
            <h1 class="profile-name">Duhamel Egone</h1>
            <figcaption>Mécatronicien</figcaption>
        </figure>
    </div>
</section>

@section Scripts{

}
