@page "contact"

@model Devystri.Pages.ContactModel
@{
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/contact.css" />
}

<section id="contact-form">  
    @*  contact-form  *@
    <h2 class="page-title">Contact</h2>
    <p class="page-description">Le service client de Devystri est à votre écoute pour toutes questions ou demandes. Nous donnerons suite à votre message dans les plus brefs délais.</p>
    <form method="post">
        <div id="name-and-surnames">
            <input class="input-area" type="text" name="name" placeholder="Nom"  />
            <input class="input-area" type="text" name="firstname" placeholder="Prénom" />
        </div>
        <input class="input-area" type="email" name="email" placeholder="Email" />
        <input class="input-area" type="text" name="obj" placeholder="Objet" />
        <textarea name="message" class="input-area" placeholder="Votre message"></textarea>
        <input class="send-button" type="submit" value="Envoyer">
    </form>
    <span>@Model.Message</span>
</section>
<section id="other-contact">
    @* other-contact *@
    <span id="email-description">Vous pouvez aussi nous contacter par email.</span>
    <a href="mailto:contact@devystri.com" id="contact-email">contact@devystri.com</a>
</section>

@section Scripts{

}