@page


@model Devystri.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/contact.css" />
}

<section id="contact-form">
    @*  contact-form  *@
    <h2 class="page-title">Contact</h2>
    <p class="page-description">Le service client de Devystri est à votre écoute pour toutes questions ou demandes. Nous donnerons suite à votre message dans les plus brefs délais.</p>
    <form method="post">
        <div id="name-and-surnames">
            <div class="form-box">
                <input class="input-area" asp-for="ContactInputForm.Name" placeholder="Nom" />
                <span class="error-span" asp-validation-for="ContactInputForm.Name"></span>
            </div>
            <div class="form-box">
                <input class="input-area" asp-for="ContactInputForm.FirstName" placeholder="Prénom" />
                <span class="error-span" asp-validation-for="ContactInputForm.FirstName"></span>
            </div>
        </div>
        <div class="form-box">
            <input class="input-area" asp-for="ContactInputForm.Email" placeholder="Email" />
            <span class="error-span" asp-validation-for="ContactInputForm.Email"></span>
        </div>
        <div class="form-box">
            <input class="input-area" asp-for="ContactInputForm.Subject" placeholder="Objet" />
            <span class="error-span" asp-validation-for="ContactInputForm.Subject"></span>

        </div>
        <div class="form-box">
            <textarea asp-for="ContactInputForm.Message" class="input-area" maxlength="1500" placeholder="Votre message"></textarea>
            <span class="error-span" asp-validation-for="ContactInputForm.Message"></span>
        </div>
        <input class="send-button" type="submit" value="Envoyer">
    </form>
</section>
<section id="other-contact">
    @* other-contact *@
    <span id="email-description">Vous pouvez aussi nous contacter par email.</span>
    <a href="mailto:contact@devystri.com" id="contact-email">contact@devystri.com</a>
</section>

@{
    int statement = (Model.Success) ? 3 : 1;
}
@section Scripts{
    @if (Model.Message is not null)
    {

        <script> errorPopup(@statement, "@Model.Message"); </script>
    }
}
