@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/index.css" />
}

<section id="homepage">
    <h1 id="homepage-big-title">Devystri</h1>
</section>

@section Scripts{ 

}
