@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/index.css" />
}

<section id="homepage">
    <h1 id="homepage-big-title">Devystri</h1>
    <div class="element-arrow">
        <span class="text-arrow">Applications</span>
        <div class="down-arrow"></div>
    </div>
</section>
<section class="description-section" id="application-development">  @*Section application*@
    <div class="description-section-text">
        <div class="description-section-text">
            <h2 class="section-title-main">Développement d'application</h2> @*Title*@
            <p class="section-description-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis bibendum ex, eget tristique velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc magna.</p> @*Description*@
        </div>
        <a title="Voir nos applications" class="more-button more-button-main">Voir nos applications</a> @*Button*@
    </div>
    <div class="image-section"> @*Image*@
        <img class="image-section-img" alt="Image d'application dans un Iphone" draggable="false" src="~/Assets/Images/main page/image-application.png" />
    </div> 
    <div class="element-arrow"> @*Arrow*@
        <span class="text-arrow">Web site</span>
        <div class="down-arrow"></div>
    </div>
</section>
<section class="description-section" id="website-development">
    @*Section Web Site*@
    <div class="description-section-text">
        <div class="description-section-text">
            <h2 class="section-title-main">Développement Web site</h2> @*Title*@
            <p class="section-description-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis bibendum ex, eget tristique velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc magna.</p> @*Description*@
        </div>
        <a title="Voir nos sites web" class="more-button more-button-main">Voir nos sites web</a> @*Button*@
    </div>
    <div class="image-section">
        @*Image*@
        <img class="image-section-img" alt="Image de page Web" draggable="false" src="~/Assets/Images/main page/website-image.png" />
    </div>
    <div class="element-arrow">
        @*Arrow*@
        <span class="text-arrow">Objets connecté</span>
        <div class="down-arrow"></div>
    </div>
</section>
<section class="description-section" id="development-connected-objects">
    @*Section objects connected*@
    <div class="description-section-text">
        <div class="description-section-text">
            <h2 class="section-title-main">Développement d'objets connecté</h2> @*Title*@
            <p class="section-description-main">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis bibendum ex, eget tristique velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc magna.</p> @*Description*@
        </div>
        <a title="Voir nos objets connécté" class="more-button more-button-main">Voir nos objets connécté</a> @*Button*@
    </div>
    <div class="image-section">
        @*Image*@
        <img style="background: black;" class="image-section-img" alt="Image du Hub" draggable="false" src="~/Assets/Images/main page/........" /> @*ICI*@ 
    </div>
</section>

@section Scripts{ 

}
