@page
@using Data.Models;
@model Devystri.Pages.Web_Sites.ListModel
@{
    ViewData["Title"] = "Liste des sites";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products.css" />
}
@foreach (var item in Model.webSites)
{
    <section id="website-@item.Name.Replace(' ', '-').ToLower()" class="section">
        <div class="left-part computer">
            <device-viewer src="../Assets/Images/websiteList/@item.PresentationRessourceName" macbook-src="../Assets/Images/websiteList/MacbookPro.svg" iphone-src=""></device-viewer>
        </div>
        <div class="right-part">
            @if (item.Stat == (int)Stats.CANCEL)
            {
                <span class="project-status project-cancelled"></span>
            }
            else if (item.Stat == (int)Stats.NOT_MARKETED)
            {
                <span class="project-status not-marketed"></span>
            }
            else if (item.Stat == (int)Stats.NOT_DOWNLABLE)
            {
                <span class="project-status not-downloadable"></span>
            }
            <figure>
                <img draggable="false" class="logo-product" alt="Logo du site web" src="~/Assets/Images/websiteList/@item.AppLogoName" />
            </figure>
            <h1 class="title-product">@item.Name</h1>
            <h2 class="product-description">@item.Description</h2>
            <div class="compatibility"></div>
            <a asp-area="" asp-page="/Web-Sites/index" title="En savoir plus sur @item.Name" class="more-button more-button-list">En savoir plus</a>
        </div>
    </section>
}

<section class="section section-soon">
    <span class="soon">Prochainement ...</span>
</section>

@section Scripts{
    <script src="~/js/HTMLElements/deviceViewer.js" asp-append-version="true"></script>
}