@page "{id=0}"
@model Devystri.Pages.Admin.AddApplicationModel
@{
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/Pages/admin/AddProducts.css" />
}
@{ 


}
<section id="add-products-nav">
    <nav id="nav-products">
        <ul>
            @foreach (var app in Model.ListApp)
            {
            <li class="add-products-nav-element">
                <div><img draggable="false" src="~/Assets/elements/travel-bar.svg" /></div> @*Button*@
                <a asp-area="" asp-page="/Admin/AddApplication" asp-route-id="@app.Id" style="text-decoration: none">
                    <span class="product-id-nav">@app.Id</span>
                    <span class="product-name-nav">@app.Name</span>
                    </a>
                    @if (app.Id == Model.AppId)
                    {
                        <input class="product-checkbox-nav" type="checkbox" checked />

                    }
                    else
                    {
                        <input class="product-checkbox-nav" type="checkbox" />

                    }
            </li>

            }

        </ul>
    </nav>
    <a class="add-products-nav-button" id="add-new-product" asp-area="" asp-page="/Admin/AddApplication">Ajouter une nouvelle application</a>
    <a class="add-products-nav-button" id="delete-product">Supprimer l'application</a>
</section>
<section id="product-information">
    <form method="post">
        <div id="fast-information">
            <div class="input-box">
                <span>Nom de l'application</span>
                <input placeholder="Nom de l'application" asp-for="Application.Name" />
                <input asp-for="Application.Id" hidden/>
            </div>
            <div class="input-box">
                <span>Âge minimum</span>
                <input placeholder="Âge minimum" asp-for="Application.MinAge" />
            </div>
            <div class="input-box">
                <span>Langue(s)</span>
                <input placeholder="Langues(s)" asp-for="Application.Languages"/>
            </div>
            <input id="button-submite-product" type="submit" value="Modifier" /> @*Boutton send*@
        </div>
        <div id="description-logo">
            <div id="input-description" class="input-box">
                <span>Description</span>
                <textarea placeholder="Description" asp-for="Application.Description"></textarea>
            </div>
            <div id="input-logo" class="input-box">
                <span>Logo</span>
                <input placeholder="Logo" type="file" accept="image/*" asp-for="Application.AppLogoName" /> @*Input logo*@
            </div>
        </div>
        <div id="product-option">
            <div id="platform">
                <div class="platform-element">
                    <span>
                        <img src="~/Assets/elements/appstroe.svg" />
                    </span>
             
                    <input asp-for="Application.IsOnAppStore"/> @*Avec before de AppStore*@
                    <input placeholder="URL vers l'AppStore" asp-for="Application.AppStoreLink" />
                </div>
                <div class="platform-element">
                    <span>
                        <img src="~/Assets/elements/playstore.svg" />
                    </span>
                    <input asp-for="Application.IsOnPlayStore" /> @*Avec before de AppStore*@
                    <input placeholder="URL vers le Playstore" asp-for="Application.PlayStoreLink"/>
                </div>
            </div>
            <div id="product-condition" class="input-box">
                <span>Statue du projet</span>
                <select name="product-condition">
                    <option>Aucun</option>
                    <option>Non commercialisé</option>
                    <option>Projet annulé</option>
                    <option>Non téléchargable</option>
                    <option>Nécessite le hub</option>
                </select>
            </div>
        </div>
        <div id="first-image-product">
            <div class="input-box">
                <span>Image de la page application </span>
                <input placeholder="Image de la page application" asp-for="Application.PresentationRessource" class="input-image-box" />
            </div>
            <div class="input-box">
                <span>Images qui entoure la fiche technique de l'application</span>
                <div id="images-fact-sheet">
                    <input placeholder="Image de la fiche technique" type="file" class="input-image-box" />
                    <input placeholder="Image de la fiche technique" type="file" class="input-image-box" />
                </div>
            </div>
        </div>
        @for(int i = 0; i < Model.Sections.Count; i++)
        {
            <div class="section">
                <span class="section-number"></span>
                <div class="product-section">
                    <div class="section-image-box">
                        <span>Image</span>
                        <input placeholder="Image" type="file" asp-for="Sections[i].ImageSrc" class="input-image-box" />
                    </div>
                    <div class="input-box">
                        <span>Titre</span>
                        <input placeholder="Titre" class="section-title" asp-for="Sections[i].Title" />
                        <span>Description</span>
                        <textarea placeholder="Description" asp-for="Sections[i].Description"></textarea>
                    </div>
                </div>
            </div>
        }


        <a class="add-products-nav-button">Ajouter une nouvelle section</a>
    </form>
</section>

@section Scripts{ 

} 