@page
@model Devystri.Pages.Admin.AddApplicationModel
@{
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/Pages/admin/AddProducts.css" />
}

<section id="add-products-nav">
    <nav id="nav-products">
        <ul>
            <li class="add-products-nav-element">
                <div><img draggable="false" src="~/Assets/elements/travel-bar.svg" /></div> @*Button*@
                <span class="product-id-nav">1</span>
                <span class="product-name-nav">Motivation</span>
                <input class="product-checkbox-nav" type="checkbox" />
            </li>
            <li class="add-products-nav-element">
                <div><img draggable="false" src="~/Assets/elements/travel-bar.svg" /></div> @*Button*@
                <span class="product-id-nav">2</span>
                <span class="product-name-nav">HomeConnect</span>
                <input class="product-checkbox-nav" type="checkbox" />
            </li>
        </ul>
    </nav>
    <a class="add-products-nav-button" id="add-new-product">Ajouter une nouvelle application</a>
    <a class="add-products-nav-button" id="delete-product">Supprimer l'application</a>
</section>
<section id="product-information">
    <form>
        <div id="fast-information">
            <div class="input-box">
                <span>Nom de l'application</span>
                <input placeholder="Nom de l'application" />
            </div>
            <div class="input-box">
                <span>Âge minimum</span>
                <input placeholder="Âge minimum" />
            </div>
            <div class="input-box">
                <span>Langue(s)</span>
                <input placeholder="Langues(s)" />
            </div>
            <input id="button-submite-product" type="submit" value="Modifier" /> @*Boutton send*@
        </div>
        <div id="description-logo">
            <div id="input-description" class="input-box">
                <span>Description</span>
                <textarea placeholder="Description"></textarea>
            </div>
            <div id="input-logo" class="input-box">
                <span>Logo</span>
                <input placeholder="Logo" type="file" /> @*Input logo*@
            </div>
        </div>
        <div id="product-option">
            <div id="platform">
                <div class="platform-element">
                    <span>
                        <img src="~/Assets/elements/appstroe.svg" />
                    </span>
                    <input type="checkbox" /> @*Avec before de AppStore*@
                    <input placeholder="URL vers l'AppStore" type="url" />
                </div>
                <div class="platform-element">
                    <span>
                        <img src="~/Assets/elements/playstore.svg" />
                    </span>
                    <input type="checkbox" /> @*Avec before de AppStore*@
                    <input placeholder="URL vers le Playstore" type="url" />
                </div>
            </div>
            <div id="product-condition" class="input-box">
                <span>Statue du projet</span>
                <select name="product-condition">
                    <option>Aucun</option>
                    <option>Non commercialisé</option>
                    <option>Projet annulé</option>
                    <option>Non téléchargable</option>
                    <option>Nécessite le hub</option>
                </select>
            </div>
        </div>
        <div id="first-image-product">
            <div class="input-box">
                <span>Image de la page application </span>
                <input placeholder="Image de la page application" type="file" class="input-image-box" />
            </div>
            <div class="input-box">
                <span>Images qui entoure la fiche technique de l'application</span>
                <div id="images-fact-sheet">
                    <input placeholder="Image de la fiche technique" type="file" class="input-image-box" />
                    <input placeholder="Image de la fiche technique" type="file" class="input-image-box" />
                </div>
            </div>
        </div>
        <div class="section">
            <span class="section-number">Section 1</span>
            <div class="product-section">
                <div class="section-image-box">
                    <span>Image</span>
                    <input placeholder="Image" type="file" class="input-image-box" />
                </div>
                <div class="input-box">
                    <span>Titre</span>
                    <input placeholder="Titre" class="section-title" />
                    <span>Description</span>
                    <textarea placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <div class="section">
            <span class="section-number">Section 2</span>
            <div class="product-section">
                <div class="section-image-box">
                    <span>Image</span>
                    <input placeholder="Image" type="file" class="input-image-box" />
                </div>
                <div class="input-box">
                    <span>Titre</span>
                    <input placeholder="Titre" class="section-title" />
                    <span>Description</span>
                    <textarea placeholder="Description"></textarea>
                </div>
            </div>
        </div>
        <a class="add-products-nav-button">Ajouter une nouvelle section</a>
    </form>
</section>

@section Scripts{ 

} 