@page
@model Devystri.Pages.Admin.AddApplicationModel
@{
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/Pages/admin/AddProducts.css" />
}

<section id="add-products-nav">
    <nav>
        <ul>
            <li class="add-products-nav-element">
                <div><img src="~/Assets/elements/travel-bar.svg" /></div> @*Button*@
                <span class="product-id-nav">1</span>
                <span class="product-name-nav">Motivation</span>
                <input class="product-checkbox-nav" type="checkbox" />
            </li>
            <li class="add-products-nav-element">
                <div><img src="~/Assets/elements/travel-bar.svg" /></div> @*Button*@
                <span class="product-id-nav">2</span>
                <span class="product-name-nav">HomeConnect</span>
                <input class="product-checkbox-nav" type="checkbox" />
            </li>
        </ul>
    </nav>
</section>
<section>
    <div id="fast-information">
        <div>
            <span>Nom de l'application</span>
            <input />
        </div>
        <div>
            <span>Âge minimum</span>
            <input />
        </div>
        <div>
            <span>Langue(s)</span>
            <input />
        </div>
        <input /> @*Boutton send*@
    </div>
    <div>
        <div>
            <span>Description</span>
            <input />
        </div>
        <div>
            <span>Logo</span>
            <input /> @*Input logo*@
        </div>
    </div>
    <div>
        <div>
            <input /> @*Avec before de AppStore*@
            <input />
        </div>
        <div>
            <input /> @*Avec before de AppStore*@
            <input />
        </div>
        <input /> @*NAV dérroulant*@
    </div>
    <div>
        <div>
            <span>Image de la page application </span>
            <input />
        </div>
        <div>
            <span>Images qui entoure la fiche technique de l'application</span>
            <div>
                <input />
                <input />
            </div>
        </div>
    </div>
    <div>
        <span>1 Section</span>
        <div>
            <input />
            <div>
                <span>Titre</span>
                <input />
                <span>Description</span>
                <input />
            </div>
        </div>
    </div>
    <div>
        <span>1 Section</span>
        <div>
            <input />
            <div>
                <span>Titre</span>
                <input />
                <span>Description</span>
                <input />
            </div>
        </div>
    </div>
    <input />
</section>

@section Scripts{ 

} 