@page 
@model Devystri.Pages.Admin.ChangePasswordModel
@{
    ViewData["Title"] = "Change mot de passe";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/admin/admin-login-password.css" />
}

<section id="admin-password">
    <div id="password">
        <h2 class="page-title">Devystri</h2>
        <p class="page-description">Administration</p>
        <form method="post">
            <span class="form-title">Changer de mot de passe</span>
            <input class="input-area" asp-for="changePasswordInput.Email" placeholder="Email" />
            <input class="input-area" type="password" asp-for="changePasswordInput.Password" placeholder="Mot de passe actuel" />
            <input class="input-area" type="password" asp-for="changePasswordInput.NewPassword"  placeholder="Nouveau mot de passe" />
            <input class="input-area" type="password" asp-for="changePasswordInput.NewPasswordConfirm"  placeholder="Confirmation du nouveau mot de passe" />
            <input class="send-button" type="submit" value="Envoyer">
        </form>
    </div>
    <div id="prevention-message">
        <span id="prevention-message-text">Votre nouveau mot de passe doit être ultra sécurisé. Pour cela il est recommandé d'utiliser des lettres, des chiffres, une majuscule et un caractère spécial. </span>
        <a id="back-main-page">Retour à l'espace administratif</a>
    </div>
</section>

@section Scripts{ 

}