# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.exe
*.cache
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Devystri/.vs/Devystri/DesignTimeBuild/.dtbcache.v2
Devystri/.vs/Devystri/v16/.suo
Devystri/.vs/Devystri/v16/.suo
Devystri/.vs/Devystri/v16/.suo
Devystri/Devystri/Devystri.csproj.user
Devystri/.vs/Devystri/config/applicationhost.config
