@page
@model Devystri.Pages.Applications.IndexModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <div class="alert">Notre projet à été annulé en raison d'un manque de budget.</div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="Motivation application" src="~/Assets/Images/applicationList/application-image-motivation.png" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Logo de l'application Motivation" src="~/Assets/Images/applicationList/motivation-logo.png" />
        </figure>
        <h1 class="title-product">Motivation</h1>
        <div id="product-features">
            <span>Âge : 12+ ans</span>
            <span>Langue : FR</span>
            <span>Taille : 200 mo</span>
        </div>
        <p id="product-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</p>
        <div id="download">
            <a title="Télécharger sur l'AppStore" class="download-button" id="appstore-button"></a>
            <a title="Télécharger sur le PlayStore" class="download-button" id="playstore-button"></a>
        </div>
    </div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="Motivation application" src="~/Assets/Images/applications/application-motivation-3d.png" />
    </div>
</section>
<section id="product-feature">
    <div class="feature-container">
        <div class="feature-text">
            <h2 class="feature-title">Inscription simple et rapide.</h2>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</p>
        </div>
        <div class="container-image">
            <img draggable="false" class="feature-image" alt="Page connexion et inscription de l'application Motivation" src="~/Assets/Images/applications/application-motivation-inscription.png" />
        </div>
    </div>
    <div class="feature-container">
        <div class="feature-text">
            <h2 class="feature-title">Récupérer la motivation dont vous avez besoin. </h2>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</p>
        </div>
        <div class="container-image">
            <img draggable="false" class="feature-image" alt="Page connexion et inscription de l'application Motivation" src="~/Assets/Images/applicationList/application-image-motivation.png" />
        </div>
    </div>
</section>


@section Scripts{

}