@page
@using Data.Models;
@model Devystri.Pages.Applications.ListModel
@{
    ViewData["Title"] = "Listes applications";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products.css" />
}
@foreach (var item in Model.applications)
{
    <section id="application-@item.Name" class="section">
        <div data-aos="zoom-in-down" class="left-part">
            <img draggable="false" alt="Application" src="~/upload/applications/@item.PresentationRessourceName" />
        </div>
        <div class="right-part">
            <partial name="_ProjectState" model="item.Stat" />


            <figure>
                <img draggable="false" class="logo-product" alt="Logo de l'application @item.Name" src="~/upload/applications/@item.AppLogoName" />
            </figure>
            <h1 class="title-product">@item.Name</h1>
            <h2 class="product-description">@item.Description</h2>
            <div class="compatibility">
                <div class="platform">
                    @if (item.IsOnAppStore)
                    {
                        <span class="platform-logo" title="AppStore"><img draggable="false" src="~/Assets/elements/appstroe.svg" /></span>
                    }
                    @if (item.IsOnPlayStore)
                    {
                        <span class="platform-logo" title="Playstore"><img draggable="false" src="~/Assets/elements/playstore.svg" /></span>

                    }
                </div>
            </div>
            <a href='../application/@item.Name.ToLower().Replace(" ", "-")' title="En savoir plus sur l'application @item.Name" class="more-button more-button-list">En savoir plus</a>
        </div>
    </section>
}

<section class="section section-soon">
    <span class="soon">Prochainement ...</span>
</section>


@section Scripts{

}