/* contact-form */

#contact-form {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 128px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 714px;
    width: 95%;
    margin: 44px 0;
}



.input-area {
    margin: 12px 0 5px 0;
}

#name-and-surnames {
    display: flex;
    justify-content: space-between;
}

    #name-and-surnames input {
        width: 299px;
        text-transform: capitalize;
    }


textarea {
    max-height: 358px;
    min-height: 187px;
    width: auto !important;
}

.send-button {
    margin-left: auto;
}


/* other-contact */

#other-contact {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-blue);
}
#email-description {
    font-weight: bold;
    margin-bottom: 14px;
    font-size: min(max(24px), 5vw);
    width: 80%;
    text-align: center;
}

#contact-email {
    text-decoration: underline;
    font-size: min(max(22px), 4vw);
    color: var(--dark-blue);
}

/* Mobile */

@media screen and (max-width: 1000px) {
    #name-and-surnames {
        flex-direction: column;
    }

        #name-and-surnames input {
            width: 93%;
            width: auto;
        }


    .input-area {
        width: auto;
        padding: 8px 25px;
        font-size: 14px;
    }

    .send-button {
        width: 100%;
        height: 45px;
        font-size: 16px;
        margin: 10px auto;
    }

    textarea {
        padding-top: 20px !important;
    }
}