/* Homepage */

#homepage {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homepage-big-title {
    font-size: min(max(182px), 18vw);
    color: var(--dark-blue);
    font-weight: bold;
}
