/* Section général */

.section {
    min-height: 100vh;
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12% 0 6%;
    color: var(--dark-blue);
    position: relative;
}

.left-part {
    display: flex;
    user-select: none;
    max-width: 473px;
    max-height: 659px;
    align-content: center;
    justify-content: center;
    width: 83%;
}

    .left-part img {
        width: 100%;
        height: 100%;
    }

.computer {
    max-width: 672px;
}

.right-part {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-status {
    width: 206px;
    height: 35px;
    border-radius: 18px;
    background-color: #E23A3A;
    position: absolute;
    top: 81px;
    right: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--white-first-section)
}

.logo-product {
    width: 153px;
    height: 153px;
    user-select: none;
}

.title-product {
    font-size: min(max(60px), 43px);
    font-weight: 500;
}

.product-description {
    font-size: min(max(20px), 4vw);
    max-width: 547px;
    height: 200px;
    font-weight: 300;
}

.more-button-list {
    background-color: var(--grey-blue);
}

    .more-button-list:hover {
        animation: hover-button-main 0.2s forwards;
    }

@keyframes hover-button-main {
    from {
        background-color: var(--grey-blue);
        color: var(--white-first-section);
    }

    to {
        background-color: var(--light-blue);
        color: var(--dark-blue);
    }
}
/* First section */
.first-section {
    background-color: var(--dark-blue);
    color: var(--white-first-section);
}

/* compatibility */

.compatibility {
    width: 260px;
    display: flex;
    margin: 21px 0;
    flex-direction: column;
}

.platform {
    display: flex;
    justify-content: space-evenly;
}

.platform-logo {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
    .platform-logo img{
        height: 100%;
    }

    .appstore-icon, .playstore-icon {
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
    }

/* Constraint */

.contrainte-block {
    height: 55px;
}

.constraint {
    width: 206px;
    height: 35px;
    border-radius: 30px;
    background-color: #8ACF9E;
    color: #055B1E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

/* soon */

.soon {
    font-size: min(max(63px), 10vw);
    margin: 0 auto;
    font-weight: bold;
}

.section-soon {
    width: 88%;
    padding: 0 6% 0 6%;
}
    /* Mobile */
    @media screen and (max-width: 1000px) {
        .section {
        flex-direction: column;
        width: 88%;
        padding: 22% 6% 14% 6%;
        justify-content: center;
    }
    .left-part {
        width: 74%;
        margin-bottom: 13px;
    }
    .more-button {
        width: 90%;
        height: 52px;
        font-size: 19px;
    }
    .logo-product {
        width: 110px;
        height: 110px;
    }
    .project-status {
        position: initial;
        width: 177px;
        height: 29px;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .computer {
        width: 105%;
        margin-bottom: 13px;
    }
}