/* Footer */

footer {
    width: 100%;
    min-height: 332px;
    background-color: var(--dark-blue);
}

/* section information footer */

#section-information-footer {
    display: flex;
    margin: 0 5%;
    justify-content: space-between;
    padding-top: 61px;
}

#devystri-name-footer {
    color: var(--light-blue);
    font-weight: bold;
    font-size: 40px;
}

    /* right-compartment ( list) */

#right-compartment{
    display: flex;
}

.list-pages{
    margin: 0 20px;
}

.list-title-footer {
    font-weight: 500;
    font-size: 27px;
    color: var(--light-blue);
}

.list-footer {
    color: var(--very-light-blue);
    font-size: 20px;
}

.list-footer li a{
    margin: 2px 0;
    position: relative;
}

    .list-footer li a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--very-light-blue);
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out 0s;
    }
    .list-footer li a:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }

    /* social-networks */
#social-media-center {
    display: flex;
    height: fit-content;
    max-width: 243px;
    width: 80vw;
    justify-content: space-between;
    margin-top: 27px;
    user-select: none;
}

.social-networks {
    width: 61px;
    height: 61px;
    border-radius: 31px;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
}

    .social-networks:hover {
        animation: social-networks-hover 0.2s forwards;
    }

@keyframes social-networks-hover {
    from {
        background-color: var(--light-blue);
    }

    to {
        background-color: var(--very-light-blue);
    }
}


    /* divider bar */
    #divider-bar-footer {
        width: 92%;
        height: 1px;
        margin: 38px 4% 23px 4%;
        background-color: var(--light-blue);
    }

/* copyright-section */

#copyright-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-blue);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}

/* Mobile */

@media screen and (max-width: 1000px) {
    #section-information-footer {
        flex-direction: column;
        align-self: center;
        align-items: center;
        text-align: center;
    }
    #right-compartment{
        flex-direction: column;
    }
    .list-pages {
        margin: 20px;
    }
}