@page
@model Devystri.Pages.Internet_Of_Things.IndexModel
@{
    ViewData["Title"] = "Présentation objet connecté";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products/index.css" />
}
<section id="product-description">
    <div class="alert">Notre HUB n'est pas commercialisé pour la vente.</div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="HomeConnect application" src="~/Assets/Images/objects/home-homeconnect.png" />
    </div>
    <div id="detailed-description">
        <figure class="product-logo">
            <img draggable="false" class="logo-product" alt="Hub HomeConnect" src="~/Assets/Images/objectsList/LogoHomeConnect.svg" />
        </figure>
        <h1 class="title-product">Motivation</h1>
        <div id="product-features">
            <span>Âge : 12+ ans</span>
            <span>Langue : FR</span>
            <span>Taille : 200 mo</span>
        </div>
        <p id="product-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</p>
        <div id="download">

        </div>
    </div>
    <div class="container-description-img">
        <img draggable="false" class="product-description-img" alt="HoemConnect HUB" src="~/Assets/Images/objectsList/Hub.png" />
    </div>
</section>
<section id="product-feature">
    <div class="feature-container">
        <div class="feature-text">
            <h2 class="feature-title">Une utilisation simple.</h2>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</p>
        </div>
        <div class="container-image">
            <img draggable="false" class="feature-image" alt="Page connexion et inscription de l'application Motivation" src="~/Assets/Images/objects/mainpage-homeconnect.png" />
        </div>
    </div>
    <div class="feature-container">
        <div class="feature-text">
            <h2 class="feature-title">Créé vos pièces autant que vous en avez.. </h2>
            <p class="feature-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</p>
        </div>
        <div class="container-image">
            <img draggable="false" class="feature-image" alt="Page de la maison HomeConnect" src="~/Assets/Images/objects/home-homeconnect.png" />
        </div>
    </div>
</section>


@section Scripts{

}