@page
@model Devystri.Pages.Applications.ListModel
@{
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products.css" />
}

<section id="hub-homeconnect" class="section first-section">
    <div class="left-part computer">
        <img draggable="false" alt="Hub HomeConnect" src="~/Assets/Images/objectsList/Hub.png" />
    </div>
    <div class="right-part">
        <span class="project-status">Non commercialisé</span>
        <figure>
            <img draggable="false" class="logo-product" alt="Logo de l'application HomeConnect" src="~/Assets/Images/objectsList/Logo HomeConnect.svg" />
        </figure>
        <h1 class="title-product">HomeConnect</h1>
        <h2 class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</h2>
        <div class="compatibility">
            <div>
                <span class="constraint">Nécessite l'application HomeConnect</span>
            </div>
        </div>
        <a title="En savoir plus sur le hub" class="more-button more-button-list">En savoir plus</a>
    </div>
</section>
<section class="section section-soon">
    <span class="soon">Prochainement ...</span>
</section>

@section Scripts{

}