@page
@using Data.Models;
@model Devystri.Pages.Internet_Of_Things.ListModel
@{
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/products.css" />
}
@foreach (var item in Model.ioTs)
{
<section id="hub-@item.Name.Replace(' ','-').ToLower()" class="section">
    <div class="left-part computer">
        <object-viewer background-color="#073965" style="width: 100%; height: 30em; background-color: var(--dark-blue);" src="/Assets/Objects3D/hub.glb" zoom="0.1" />

    </div>
    <div class="right-part">
        @if (item.Stat == (int)Stats.CANCEL)
        {
            <span class="project-status project-cancelled"></span>
        }
        else if (item.Stat == (int)Stats.NOT_MARKETED)
        {
            <span class="project-status not-marketed"></span>
        }
        else if (item.Stat == (int)Stats.NOT_DOWNLABLE)
        {
            <span class="project-status not-downloadable"></span>
        }
        <h1 class="title-product">@item.Name</h1>
        <h2 class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis lorem odio, et vestibulum mi bibendum in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sodales nibh vel felis hendrerit, ac luctus felis accumsan. Vivamus vitae elit commodo, lacinia elit ut, porttitor felis. In magna lorem, malesuada ut vehicula vel, gravida ac mauris.</h2>
        <div class="compatibility">
            <div>
                <span class="constraint">Nécessite l'application HomeConnect</span>
            </div>
        </div>
        <a asp-area="" asp-page="/Internet-Of-Things/index" title="En savoir plus sur @item.Name" class="more-button more-button-list">En savoir plus</a>
    </div>
</section>
}

<section class="section section-soon">
    <span class="soon">Prochainement ...</span>
</section>

@section Scripts{
    <environment include="Development">
        <script src="~/lib/ThreeJS/three.js"></script>
        <script src="~/lib/ThreeJS/GLTFLoader.js"></script>
        <script src="~/js/HTMLElements/objectVisualisator.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/three.min.js"></script>
        <script src="~/js/HTMLElements/objectVisualisator.js"></script>
    </environment>
}
}