<footer>
    <section id="section-information-footer">
        <div>
            <span id="devystri-name-footer">Devystri</span>
            <div id="social-media-center">
                <a target=_blank href="https://www.facebook.com/Devystri-105726897863972" class="social-networks" id="facebook">
                    <img draggable="false" alt="" src="~/Assets/elements/facebook.svg" />
                </a>
                <a target=_blank href="https://www.instagram.com/devystri/" class="social-networks" id="instragram">
                    <img draggable="false" alt="" src="~/Assets/elements/instagram.svg" />
                </a>
                <a target=_blank href="https://twitter.com/devystri" class="social-networks" id="twitter">
                    <img draggable="false" alt="" src="~/Assets/elements/twitter.svg" />
                </a>
            </div>
        </div>
        <div id="right-compartment">
            <div class="list-pages">
                <span class="list-title-footer">Produits</span>
                <ul class="list-footer">
                    <li>
                        <a>Applications</a>
                    </li>
                    <li>
                        <a>Site web</a>
                    </li>
                    <li>
                        <a>Objets connecté</a>
                    </li>
                </ul>
            </div>
            <div class="list-pages">
                <span class="list-title-footer">Contact</span>
                <ul class="list-footer">
                    <li>
                        <a asp-area="" asp-action="Contact">Page contact</a>
                    </li>
                    <li>
                        <a asp-area="" asp-action="Contact">contact@devystri.com</a>
                    </li>
                </ul>
            </div>
            <div class="list-pages">
                <span class="list-title-footer">A propos</span>
                <ul class="list-footer">
                    <li>
                        <a asp-area="" asp-page="/Privacy">Mentions légales</a>
                    </li>
                    <li>
                        <a asp-area="" asp-page="/Newsletter">Newsletter</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div id="divider-bar-footer"></div>
    <section id="copyright-section">
        <span>Devystri © 2020</span>
        <span>Tous droits réservés.</span>
        <span>Version 2.0</span>
    </section>

</footer>