<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Devystri</title>
    <link rel="stylesheet" href="~/css/loadscreen.css" />
</head>
<body>
    <script src="~/js/HTMLElements/loader.js"></script>
    <loader-element>
        <div id="links">
            <environment include="Development">
                <link rel="stylesheet" href="~/css/site.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/header.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/footer.css" />
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="~/css/site.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/header.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/footer.css" />
            </environment>
            @await RenderSectionAsync("Styles", required: false)
        </div>
        <div id="loadscreen">
            <h1>Devystri</h1>
            <div id="loading-indicator">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
       
    </loader-element>

    <header id="header">
        <a id="header-logo" asp-area="" asp-page="/Index"><img draggable="false" src="~/Assets/Images/header/devystri-logo.svg" /></a>
        <div id="nav-location">
            <nav>
                <a asp-area="" asp-page="/Applications/List">Applications</a>
                <a asp-area="" asp-page="/Web-Sites/List">Sites web</a>
                <a asp-area="" asp-page="/Internet-Of-Things/List">Objets connectés</a>
            </nav>
            <nav>
                <a asp-area="" asp-page="/Contact">Contact</a>
                <a asp-area="" asp-page="/About">A propos</a>

            </nav>
        </div>
        <input onchange="menuStateChanhed()" class="menu-btn" name="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer>
        <section id="section-information-footer">
            <div>
                <span id="devystri-name-footer">Devystri</span>
                <div id="social-media-center">
                    <a target=_blank href="https://www.facebook.com/Devystri-105726897863972" class="social-networks" id="facebook">
                        <img draggable="false" alt="" src="~/Assets/elements/facebook.svg" />
                    </a>
                    <a target=_blank href="https://www.instagram.com/devystri/" class="social-networks" id="instragram">
                        <img draggable="false" alt="" src="~/Assets/elements/instagram.svg" />
                    </a>
                    <a target=_blank href="https://twitter.com/devystri" class="social-networks" id="twitter">
                        <img draggable="false" alt="" src="~/Assets/elements/twitter.svg" />
                    </a>
                </div>
            </div>
            <div id="right-compartment">
                <div class="list-pages">
                    <span class="list-title-footer">Produits</span>
                    <ul class="list-footer">
                        <li>
                            <a>Applications</a>
                        </li>
                        <li>
                            <a>Site web</a>
                        </li>
                        <li>
                        <a>Objets connecté</a>
                        </li>
                    </ul>
                </div>
                <div class="list-pages">
                    <span class="list-title-footer">Contact</span>
                    <ul class="list-footer">
                        <li>
                        <a>Page contact</a>
                        </li>
                        <li>
                            <a>contact@devystri.com</a>
                        </li>
                    </ul>
                </div>
                <div class="list-pages">
                    <span class="list-title-footer">A propos</span>
                    <ul class="list-footer">
                        <li>
                            <a asp-area="" asp-page="/Privacy">Mentions légales</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Newsletter" >Newsletter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="divider-bar-footer"></div>
        <section id="copyright-section">
            <span>Devystri © 2020</span>
            <span>Tous droits réservés.</span>
            <span>Version 2.0</span>
        </section>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
