<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Devystri</title>
    <link rel="stylesheet" href="~/css/loadscreen.css" />
</head>
<body>
    <script src="~/js/HTMLElements/loader.js"></script>
    <loader-element>
        <div id="links">
            <link rel="stylesheet" href="~/css/site.css" />
            @await RenderSectionAsync("Styles", required: false)
        </div>
        <div id="loadscreen">
            <h1>Loading...</h1>
        </div>
        <div id="scripts">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </div>
    </loader-element>

    <header>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer>
    </footer>


</body>
</html>
