<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Devystri</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/loadscreen.css" />
</head>
<body>
    <script src="~/js/HTMLElements/loader.js"></script>
    <loader-element>
        <div id="links">
            <link rel="stylesheet" href="~/css/HTMLElements/header.css" />
            
            @await RenderSectionAsync("Styles", required: false)
        </div>
        <div id="loadscreen">
            <h1>Devystri</h1>
            <div id="loading-indicator">
                <div class="dot" ></div>
                <div class="dot"></div>
                <div class="dot" ></div>
                <div class="dot" ></div>
            </div>
        </div>
            <div id="scripts">
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
            </div>
    </loader-element>

    <header id="header">
        <a id="header-logo" href="#"><img draggable="false" src="~/Assets/Images/header/devystri-logo.svg" /></a>
        <div id="nav-location">
            <nav>
                <a href="#">Applications</a>
                <a href="#">Site web</a>
                <a href="#">Objets connecté</a>
            </nav>
            <nav>
                <a href="#">Contact</a><a href="#">A propos</a>
                <a></a>
            </nav>
        </div> 
        <input onchange="menuStateChanhed()" class="menu-btn" name="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    </header>

    <main role="main">
        @RenderBody()
    </main>


    <footer>
    </footer>
    
   

</body>
</html>
