
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <link rel="mask-icon" href="~/devystri.ico" color="#073965">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devystri - @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/css/loadscreen.css" />
    <meta name="robots" content="noindex">
</head>
<body>
    <script src="~/js/HTMLElements/loader.js"></script>
    <loader-element>
        <div id="links">
            <environment include="Development">
                <link rel="stylesheet" href="~/css/site.css" />
                <link rel="stylesheet" href="~/lib/locomotive/locomotive-scroll.min.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/header.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/footer.css" />
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="~/css/site.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/header.css" />
                <link rel="stylesheet" href="~/css/HTMLElements/footer.css" />
            </environment>
            @await RenderSectionAsync("Styles", required: false)
        </div>
        <div id="loadscreen">
            <h1>Devystri</h1>
            <div id="loading-indicator">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>

    </loader-element>

    @await Html.PartialAsync("_Header.cshtml")

    <main role="main">
        @RenderBody()
    </main>


    @await Html.PartialAsync("_Footer.cshtml")


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/locomotive/locomotive-scroll.min.js"></script>
  
    <environment include="Development">
        <script src="~/js/popup.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ParticlesEvent.cshtml")
    @await Html.PartialAsync("_ValidationScriptsPartial")


</body>
</html>
