@namespace Devystri.Pages.Shared

@model Data.Models.Stats
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@if ((int)Model != 0)
{
    <span class="project-status">@Html.GetEnumSelectList(@Model.GetType()).ToList()[(int)Model].Text</span>
}

