@namespace Devystri.Pages.Shared

@model Devystri.Modules.SectionLoadManage
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.Sections is not null)
{
    @for (int i = 0; i < Model.Sections.Count; i++)
    {
        <div class="feature-container">
            <div class="feature-text">
                <h2 data-aos="zoom-in" class="feature-title">@Model.Sections[i].Title</h2>
                <p ddata-aos-anchor-placement="bottom-bottom" data-aos="zoom-in" class="feature-description">@Model.Sections[i].Description</p>
            </div>
            <div data-aos="zoom-in" class="container-image">
                <img draggable="false" class="feature-image" alt="Image décrivant le site @Model.Name" src="~/@Model.Path@Model.Sections[i].ImageSrc" />
            </div>
        </div>
    }

}

