@page "/error/404"
@model Devystri.Pages.Error.NotFoundModel
@{
}

@section Styles{
    <link rel="stylesheet" href="~/css/Pages/error-404.css" />
}

<section id="error404-section">
</section>


@section Scripts{

}