@page
@model Devystri.Pages.Error.popupErrorModel
@{
}
@section Styles{
}

<div id="popup-error">
    <div class="popup-color-error" id="head-popup">
        <img src="~/Assets/elements/warning.svg" />
    </div>
    <div id="content-popup">
        <span id="popup-title"></span>
        <span id="popup-error-text"></span>
        <a class="popup-color-error" id="close-popup">Close</a>
    </div>
</div>


@section Scripts{

}