/* Général */

main{
    display: flex;
    margin-top: 72px;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-size : 15px !important;
}

input::-webkit-file-upload-button {
    visibility: hidden;
}

/* add-products-nav */

#add-products-nav {
    height: 100vh;
    width: 300px;
    margin-top: 40px;
    color: var(--dark-blue);
    padding: 40px 10px;
    border-right: solid 1px var(--grey-blue);
}

.add-products-nav-element {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: solid 1px var(--dark-blue);
    min-width: 302px;
}

    .add-products-nav-element div {
        display: flex;
        margin: 0 15px;
        user-select: none;
        cursor: pointer;
        cursor: grab;
    }
        .add-products-nav-element div:active {
            cursor: grabbing;
        }

.product-id-nav {
    margin-right: 30px;
    font-weight: 500;
    margin-right: 30px;
    font-weight: 500;
    color: var(--dark-blue);
    font-size: 20px;
}

#nav-products{
    height: 60vh;
}

.product-name-nav {
    font-size: 20px;
    font-weight: 500;
    color: var(--dark-blue);
}

.product-checkbox-nav {
    margin-left: auto;
    margin-right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    -webkit-appearance: none;
    border: 1px solid var(--dark-blue);
    outline: none;
    cursor: pointer;
}

    .product-checkbox-nav:checked {
        background: var(--dark-blue);
    }

/* Button nav */

.add-products-nav-button {
    height: 57px;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    margin: 7px auto 30px auto;
    color: var(--white-button);
    font-weight: 500;
    font-size: 17px;
    background: var(--grey-blue);
    max-width: 349px;
    text-decoration : none;
}

#add-new-product {
    background: #00529A;
    text-decoration: none;
    text-align: center;
}

#delete-product {
    background: #E23A3A;
    border: none;
}

/* product-information */

#product-information {
    margin-top: 94px;
    margin-left: 30px;
    width: -webkit-fill-available;
}
/* fast-information */
#fast-information {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1331px;
}

    #fast-information .input-box input {
        height: 24px;
        padding: 10px;
    }

    #fast-information .input-box {
        max-width: 300px;
        width: 24%;
    }

.input-box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 16px;
    max-width: 662px;
}
    .input-box span {
        margin: 10px 0;
        font-weight: 500;
        color: var(--dark-blue);
    }


    .input-box input {
        border-radius: 15px;
        border: solid 2px var(--admin-blue);
        outline: none;
        max-width: 324px;
        width: 90%;
        text-align-last: justify;
        cursor: pointer;
    }

#description-logo {
    display: flex;
    margin-top: 26px;
}

#input-description {
    width: 63%;
    max-width: none;
}

    #input-description textarea {
        padding: 10px;
        min-height: 120px;
        max-width: 100%;
        min-width: 100%;
        border-radius: 15px;
        border: solid 2px var(--admin-blue);
    }

#input-logo input {
    height: 140px;
    width: 140px;
    cursor: pointer;
}
input[type=file] {
    color: transparent;

}

.blah {
    position: absolute;
    max-height: 201px;
    max-width: 300px;
    display: flex;
    align-self: center;
    z-index: -1;
    background-image: url(/Assets/elements/addPicture.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    min-width: 77px;
    min-height: 77px;
}

#previewLogoAdd {
    position: absolute;
    display: flex;
    align-self: center;
    z-index: -1;
    width: 144px;
    border-radius: 15px;
    background-image: url(/Assets/elements/addPicture.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 96px;

}

.additional-images-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

    .additional-images-box img{
        margin-top: 0;
    }

    #button-submite-product {
        max-width: 360px;
        width: 93%;
        height: 57px;
        border-radius: 29px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: auto;
        background: var(--grey-blue);
        color: var(--white-button);
        font-weight: 500;
        font-size: 19px;
    }
/* product-option */
#product-option {
    display: flex;
    align-items: center;
    width: 73%;
    justify-content: space-between;
    margin: 25px 0;
}
/* platform */
#platform {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
}

    #platform span {
        height: 35px;
        width: 31px;
        display: flex;
        place-content: center;
    }

    .platform-element {
        margin: 15px 0;
        display: flex;
        align-items: center;
    }

#platform input[type=text] {
    padding: 10px;
    height: 24px;
    border-radius: 15px;
    border: solid 2px var(--admin-blue);
    outline: none;
    width: 70%;
}
#platform input[type=checkbox] {
    margin: 0 30px;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    -webkit-appearance: none;
    border: solid 2px var(--admin-blue);
    outline: none;
    cursor: pointer;
}
    #platform input[type=checkbox]:checked {
        animation: checkbox-checked 0.2s forwards;
    }
@keyframes checkbox-checked {
    from {
        background: none;
        border: solid 2px var(--admin-blue);
    }

    to {
        background: var(--dark-blue);
        border: none;
    }
}

/* URL WebSite */

#website-link {
    width: 65%;
}

#website-link input{
    width: 100%;
    height: 24px;
    padding: 10px;
    max-width: none;
}

/* product-condition (liste déroulante) */

#product-condition{
    width: 30%;
}

select[name=product-condition] {
    height: 44px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: solid 2px var(--admin-blue);
    -webkit-appearance: none;
}

/* first-image-product */

#first-image-product{
    display: flex;
}

#images-fact-sheet {
    display: flex;
}
/* input-image-box */
.input-image-box {
    height: 245px;
    margin: 0 20px;
    border-radius: 15px;
    border: solid 2px var(--admin-blue);
    outline: none;
}

/* product-section */

.section {
    margin: 40px 20px;
}

.product-section {
    display: flex;
    margin: 25px 10px;
}
.input-box {
    display: flex;
    place-content: center;
    width: fit-content;
}

.product-section .input-box{
    width: 100%;
}

.section-number {
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-blue);
}


.delete-section {
    width: 25px;
    height: 25px;
    background-color: #E23A3A;
    display: inline-flex;
    position: absolute;
    margin: 0 20px;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    letter-spacing: -1px;
    text-align: center;
    font-size: 13px;
}

.delete-section:before{
    content: "--";
}

    .delete-section:hover {
        animation: hover-delete-section 0.3s forwards;
    }
        .delete-section:hover::before {
            animation: hover-delete-section 0.3s forwards;
            -webkit-animation: hover-delete-section 0.3s forwards;
        }

    @keyframes hover-delete-section {
        from {
            width: 25px;
            content: "--";
            letter-spacing: -1px;
        }

        to {
            width: 131px;
            content: "Supprimer";
            letter-spacing: 0.5px;
        }
    }

@-webkit-keyframes hover-delete-section{
    from {
        width: 25px;
        content: "--";
        letter-spacing: -1px;
    }

    to {
        width: 131px;
        content: "Supprimer";
        letter-spacing: 0.5px;
    }
}

.section-image-box {
    display: flex;
    flex-direction: column;
}

.image-box {
    display: flex;
    justify-content: center;
}

.section-image-box span {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    color: var(--dark-blue);
}

.product-section textarea {
    max-width: 97%;
    min-width: 97%;
    min-height: 142px;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    border: solid 2px var(--admin-blue);
}

         /* min-width: 662px; */

.section-title {
    padding: 10px;
    height: 33px;
    width: 97% !important;
    max-width: 662px !important;
    cursor: auto !important;
}

/* Screen 1500px */

@media screen and (max-width: 1500px) {
    main{
        flex-direction: column;
    }
    #nav-products {
        height: auto;
        margin: 23px 0px;
    }
    #add-products-nav {
        height: auto;
        border: none;
        margin: 0 auto;
        max-width: 470px;
        width: 95%;
    }
    #product-information {
        margin: 0 auto;
    }
}

/* Screen 1000px*/

@media screen and (max-width: 1000px){
    #fast-information {
        flex-direction: column;
        align-items: center;
        border-top: solid 1px var(--grey-blue);
    }
        #fast-information .input-box {
            max-width: 1000px;
            width: 91%;
            order: 2;
        }
        #website-link{
            width: 75%;
        }
        #product-condition{
            width: 91%;
        }
    #input-description {
        width: 76%;
    }
    .input-box input {
        max-width: none;
    }
    #button-submite-product {
        margin: 13px 0;
        order: 1;
    }
    .input-box input {
        width: 83%;
    }
    .input-box span{
        margin: 5px 0;
    }
    #description-logo {
        flex-direction: column;
        align-items: center;
    }
    #product-option{
        width: 100%;
        flex-direction: column;
    }
    #platform{
        margin-left: 0;
        width: 95%;
    }
        #platform input[type=checkbox]{
            margin: 0 15px;
        }
    select[name=product-condition]{
        width: 90%;
    }
    #first-image-product {
        flex-direction: column;
        align-items: center;
    }
    #images-fact-sheet {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .input-image-box{
        margin: 0;
    }
    .input-box {
        align-items: center;
        text-align: center;
        margin: 8px 0;
        width: 100%;
    }
    .product-section {
        flex-direction: column;
    }
    .section {
        display: flex;
        text-align-last: center;
        flex-direction: column;
        align-items: center;
    }
    .section-title {
        width: 94% !important;
    }
    .product-section textarea {
        max-width: 94%;
        min-width: 94%;
    }

    .additional-images-box{
        margin: 10px 0;
    }

}