/* admin-login */
#admin-login, #admin-password {
    width: 100%;
    height: 83vh;
    display: flex;
    color: var(--dark-blue);
    flex-direction: column;
    place-content: space-between;
    margin-top: 121px;
    margin-bottom: 47px;
}

#login, #password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.page-description {
    font-weight: bold;
    font-size: 28px;
}


form {
    display: flex;
    flex-direction: column;
    max-width: 568px;
    width: 95%;
    margin: 44px 0;
}

.form-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}

.input-area {
    margin: 11px 0;
    width: auto;
}

.send-button {
    align-self: center;
}

/* prevention-message */
#prevention-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prevention-message-text {
    text-align: center;
    font-size: min(max(20px), 4vw);
    width: 85%;
    max-width: 900px;
}
#back-main-page {
    text-decoration: underline;
    font-size: min(max(20px), 4vw);
    font-weight: bold;
    margin-top: 5px;
}

/* Mobile */

@media screen and (max-width: 1000px) {
    .input-area {
        width: auto;
        padding: 8px 25px;
        font-size: 14px;
    }
    .send-button {
        width: 100%;
        height: 45px;
        font-size: 16px;
        margin: 10px auto;
    }
    #admin-login {
        height: 80vh;
        margin-top: 121px;
    }
}