/* Général */

main {
    display: flex;
}

/* fast-information */
#fast-information {
    max-width: 497px;
    width: 100%;
    min-height: 100vh;
    margin: 111px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 2px #7CADD8;
}

/* period */
.form-period {
    display: flex;
    border-radius: 16px;
    background: var(--admin-blue);
    width: fit-content;
    color: white;
    font-weight: 500;
    margin: 35px 0;
}

.input-period:checked + span {
    animation: input-period-checked 0.2s forwards;
    border-radius: 16px;
}

@keyframes input-period-checked {
    from {
        background: none
    }

    to {
        background-color: #204c85;
    }
}

.input-period {
    display: none;
}

.period {
    width: 100px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

/* fast-information-box */

.fast-information-box {
    border: solid 2px var(--admin-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 75%;
    max-width: 353px;
    border-radius: 15px;
    margin: 10px 0;
    color: var(--dark-blue);
}

.title-fast-information {
    font-size: 25px;
    max-width: 90%;
    text-align: center;
}

.data-fast-information {
    font-size: 40px;
    font-weight: bold;
    margin: 4px 0;
}

.period-description-fast-information {
    font-size: 20px;
}

/* accurate-information */

#accurate-information-title {
    font-size: min(max(40px), 7vw);
    font-weight: bold;
}

#accurate-information {
    margin: 111px 50px;
    width: 72%;
}

#total-visits-header {
    display: flex;
    align-items: center;
}

.graphic-title {
    font-size: min(max(30px), 6vw);
    width: min-content;
    width: 73%;
}

.from-period-graphic {
    margin: 0 57px;
}

/* small-box */

.small-box {
    display: flex;
}
/* total-visits-box */
#total-visits-box {
    max-height: 466px;
    height: 100%;
    border: solid 2px var(--admin-blue);
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#visit-website-graphic-box {
    width: 100%;
    max-width: 851px;
    margin: 0 auto;
}

/* popular-os-box */

#popular-os-box {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--admin-blue);
    border-radius: 15px;
    padding: 10px 30px;
    width: 50%;
    margin-right:15px;
}

#os-list {
    display: flex;
    flex-direction: column;
}

#macos, #windows, #ios, #android {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 6px 0;
}

    #macos:before {
        content: " ";
        width: 30px;
        height: 30px;
        background: #E17CFD;
        display: block;
        border-radius: 100%;
        margin-right: 16px;
    }

    #windows:before {
        content: " ";
        width: 30px;
        height: 30px;
        background: #4CD7F6;
        display: block;
        border-radius: 100%;
        margin-right: 16px;
    }

    #ios:before {
        content: " ";
        width: 30px;
        height: 30px;
        background: #6DBFFF;
        display: block;
        border-radius: 100%;
        margin-right: 16px;
    }

    #android:before {
        content: " ";
        width: 30px;
        height: 30px;
        background: #7166F9;
        display: block;
        border-radius: 100%;
        margin-right: 16px;
    }

#popular-os-graphic {
    width: 90%;
    margin: 0 auto;
    height: 300px;
}

#popular-os-graphic-box {
    width: 100%;
    margin: 0 auto;
}
    /* Newsletter */
    #newsletter-suscribe-header {
        display: flex;
        align-items: center;
        place-content: space-between;
    }

#newsletter-suscribe {
    display: flex;
    flex-direction: column;
    border: solid 2px var(--admin-blue);
    border-radius: 15px;
    padding: 10px 30px;
    width: 50%;
    margin-left: 15px;
}

#newsletter-users {
    font-size: min(max(30px), 6vw);
    font-weight: bold;
}

#newsletter-users-graphic {
    width: 90%;
    margin: 0 auto;
    height: 445px;
}
#newsletter-users-graphic-box {
    width: 100%;
    margin: auto;
}
/* Mobile */
@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
        align-items: center;
    }
    .period {
        width: 76px;
        height: 35px;
        font-size: 14px;
    }
    #fast-information{
        margin-bottom: 30px;
        border: none;
    }
    #accurate-information {
        margin: 30px auto;
        width: 90%;
        text-align: center;
    }
    #total-visits-header{
        flex-direction: column;
    }
    .small-box {
        flex-direction: column;
    }
    #popular-os-box {
        margin-right: 0;
        width: auto;
        text-align: initial;
    }
    #newsletter-suscribe {
        margin-left: 0;
        width: auto;
        margin-top: 30px;
        text-align: left;
    }
}